<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LabolLeExames.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <LabolLeExames.Settings1>
            <setting name="caminho_labol" serializeAs="String">
                <value>c:\labol8\</value>
            </setting>
            <setting name="arquivos_temporarios" serializeAs="String">
                <value>\temporarios\</value>
            </setting>
            <setting name="data_inicial_leitura" serializeAs="String">
                <value>20100701</value>
            </setting>
            <setting name="TituloLinha1" serializeAs="String">
                <value>Rua Coronel Jorge Frantz, 513 - Centro - Cerro Largo - RS</value>
            </setting>
            <setting name="TituloLinha2" serializeAs="String">
                <value>Telefone: (55) 3359-1775</value>
            </setting>
        </LabolLeExames.Settings1>
    </userSettings>
</configuration>